*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* section */
.section {
    padding: 100px 0;
}

.section--noise {
    background-image: url(./assets/images/background_image.png);
    background-repeat: repeat;
}

/* container */
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 100px;
    box-sizing: border-box;
    position: relative;
}

li,
a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.btn {
    padding: 12px;
    background-color: midnightblue;
    color: white;
    border-radius: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Sticky Navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
}

.nav-container {
    padding-top: 16px;
    padding-bottom: 16px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.mangalam-logo {
    width: 110px;
    height: 45px;
}

.nav-right {
    display: flex;
    gap: 3rem;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin: 0;
}

.nav-contact a {
    color: #fff;
}


/* Landing-page */
.section--hero {
    background: url(./assets/images/background_image.png) center/cover no-repeat;
}

.breadcrumb {
    position: absolute;
    top: -60px;
}

.breadcrumb li {
    position: relative;
    padding: 0 10px;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb li:not(:first-child)::before {
    content: url(./assets/images/ChevronRight.svg);
    position: absolute;
    left: -5px;
    color: #888;
}

.breadcrumb ul {
    display: flex;
}

.product-split {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

.product-gallery figure {
    height: 470px;
}

#mainImage {
    width: auto;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 0 15px 15px rgb(0, 0, 0, 0.2);
    border-radius: 15px;
}

.client-logos img {
    width: auto;
    height: auto;
    object-fit: cover;
}

.thumbnails {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    justify-content: space-between;
}

.thumbnails li {
    height: 80px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #CFD1D4;
    box-shadow: 0 0 15px 1px rgb(0, 0, 0, 0.2);
}

.product-specs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.specs-certifications{
    display: grid;
    gap: 20px;
}
.specs-certifications h1 {
    font-size: 2.7rem;
}

.product-features li {
    font-size: 16px;
    font-family: "inter regular";
    display: flex;
    gap: 10px;
    padding: 5px;
}

.certifications {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.cert {
    font-size: 12px;
    color: #4B5563;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid rgb(0,0,0,0.2);
    padding: 5px;
    background-color: #F7F8F9;
}

.specs-pricing {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}

.delivery {
    display: flex;
    gap: 10px;
} 

.range-text {
    font-size: 14px;
    color: #6A7077;
}

.range-numbers {
    font-size: 20px;
    color: #0D0D0D;
    font-weight: 600;
}

.cert-list {
    background-color: #F3F4F6;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    width: fit-content;
}

.delivery p {
    background-color:#FEF3C7;
    color: #92400E;
    padding: 5px;
    border-radius: 5px;
}

.specs-actions {
    display: flex;
    gap: 10px;
}

.btn-view {
    background-color: rgb(0,0,0,0);
    display: flex;
    gap: 10px;
    color: black;
}

.client-bar {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: #878B94;
}

.client-logos {
    margin-top: 20px;
    display: flex;
    max-height: 48px;
    justify-content: space-between;
}

.client-logos img {
    width: auto;
    height: auto;
    object-fit: cover;
}

/* Tech-Specs Page  */
.section--purple {
    background-color: midnightblue;
}

@media (max-width: 1200px) {
    .container {
        padding: 0 80px;
    }
}

@media (max-width: 1080px) {
    .container {
        padding: 0 60px;
    }
}

@media (max-width: 800px) {
    .container {
        padding: 0 48px;
    }
}

@media (max-width: 360px) {
    .container {
        padding: 0 16px;
    }

    .section {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}